<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Debug</title>
    </head>
    <body>
        <ul>
            <% facts.forEach(function(fact){ %>
                <%- include('fact/show', {fact: fact}); %>
              <% }); %>
        </ul>
    </body>
</html>