<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>My Bolt Demo App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Order Confirmation Page</h1>
        <p>"<%=displayId%%>"</p>
</body>
</html>